{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
{{ $location_avatar := .Site.Params.author.location_avatar }}
{{ $location_image := resources.Get $location_avatar }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <div class="location">
        <span class="material-symbols-outlined location">my_location</span>
        <p class="location location-name">{{ .Site.Params.author.location }}</p>
    </div>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
</div>
